/* Variables CSS */
:root {
  --experiencia-bg-color: rgba(171, 168, 168, 0.6);
  --experiencia-border-color: #f2f2f2ad;
  --experiencia-button-bg-color: rgba(203, 123, 18, 0.781);
  --experiencia-button-hover-shadow: 0 0 10px rgba(203, 123, 18, 0.781), 0 0 20px rgba(203, 123, 18, 0.781), 0 0 30px rgba(203, 123, 18, 0.781);
  --experiencia-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.experiencia-paper {
  background-color: var(--experiencia-bg-color) !important;
  margin-top: 4vh !important;
  height: 65vh !important;
  border: 3px solid var(--experiencia-border-color) !important;
  border-radius: 10px !important;
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

.experiencia-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.MuiStepIcon-root {
  color: rgba(0, 0, 0, 0.7) !important;
}

.MuiButton-root {
  background-color: var(--experiencia-button-bg-color) !important;
}

.experiencia-stepper {
  width: 100%;
}

.experiencia-button {
  margin-top: 10px;
  background-color: var(--experiencia-button-bg-color) !important;
  transition: var(--experiencia-transition);
  color: black !important;
}

.experiencia-button:hover {
  box-shadow: var(--experiencia-button-hover-shadow);
  transform: scale(1.05);
}

.MuiButtonBase-root {
  color: black !important;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .experiencia-paper {
    width: 80%;
    max-height: 60vh;
    overflow-y: auto;
  }

  .experiencia-button {
    width: 100%;
    text-align: center;
  }
}