html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.App {
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
  position: relative;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 1s ease;
  filter: brightness(40%); /* Aplica un filtro oscuro */
  pointer-events: none; /* Hace que el video no sea clickeable */
  display: block; /* Asegura que el video se muestre como un bloque */
}

.video-background.hidden {
  opacity: 0;
  pointer-events: none;
  display: block;
}

.quienSoy,
.proyectos-container,
.certificados-container,
.experiencia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  padding: 10px !important;
  scroll-snap-align: start;
}

.proyectos-container,
.certificados-container,
.experiencia-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.proyectos-container.visible,
.certificados-container.visible,
.experiencia-container.visible {
  opacity: 1;
  transform: translateY(0);
}