/* Estilos básicos */
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #060202;
  overflow: hidden; /* Oculta el scroll mientras se carga */
}


.background-video {
  position: absolute;
  top: 50%; /* Posición inicial al 50% del contenedor */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Corrige el desplazamiento para centrar completamente */
  width: 100%; /* Asegura que el ancho cubra toda la pantalla */
  height: 100%; /* Ajusta el alto inicial */
  object-fit: cover; /* Escala el video correctamente */
  z-index: -1; /* Mantiene el video detrás de los elementos */
  filter: blur(1px) brightness(0.7); /* Mejora la visibilidad del contenido */
}

/* Ajustes para pantallas medianas (tablets y móviles grandes) */
@media (max-width: 768px) {
  .background-video {
    height: auto; /* Permite que el alto se ajuste automáticamente */
    max-height: 70%; /* Limita la altura máxima */
    object-fit: contain; /* Evita recortes */
    top: 50%; /* Mantiene la posición vertical */
    transform: translate(-50%, -50%); /* Asegura el centrado vertical */
  }
}

/* Ajustes para pantallas pequeñas (teléfonos pequeños) */
@media (max-width: 480px) {
  .background-video {
    height: auto;
    max-height: 50%; /* Reduce la altura del video */
    object-fit: contain;
    top: 50%; /* Posición vertical centrada */
    transform: translate(-50%, -50%); /* Centrado perfecto */
    filter: blur(2px) brightness(0.9); /* Ajusta la visibilidad */
  }
}



