/* Estilos básicos */
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #060202;
  overflow: hidden; /* Oculta el scroll mientras se carga */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Oscurece ligeramente */
  z-index: 9999;
  animation: fadeIn 1s ease-in-out;
}


.loading-bar-container {
  position: absolute;
  bottom: 100px; /* Ajuste estándar para escritorio */
  width: 80%; /* Ancho estándar */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Corrige el desplazamiento del centro */
  z-index: 1;
  display: flex;
  justify-content: center;
}

.loading-bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.loading-bar .MuiLinearProgress-bar1Buffer {
  background-color: #31c1c9;
}

.loading-bar .MuiLinearProgress-bar2Buffer {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Transición de la aplicación */
.app-content.transition {
  animation: fadeIn 1s ease-in-out;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .loading-bar-container {
    bottom: 35%; /* Barra más cercana al borde inferior en móviles */
    width: 50%; /* Barra más ancha para ajustarse mejor */
  }

  .loading-bar {
    height: 8px; /* Reduce la altura de la barra */
  }
}

/* Estilos para pantallas muy pequeñas (como teléfonos pequeños) */
@media (max-width: 480px) {
  .loading-bar-container {
    bottom: 35%; /* Aún más cercana al borde inferior */
    width: 50%; /* Barra casi de ancho completo */
  }

  .loading-bar {
    height: 6px; /* Barra más delgada */
  }

}

.background-video {
  position: absolute;
  top: 50%; /* Posición inicial al 50% del contenedor */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Corrige el desplazamiento para centrar completamente */
  width: 100%; /* Asegura que el ancho cubra toda la pantalla */
  height: 100%; /* Ajusta el alto inicial */
  object-fit: cover; /* Escala el video correctamente */
  z-index: -1; /* Mantiene el video detrás de los elementos */
  filter: blur(1px) brightness(0.7); /* Mejora la visibilidad del contenido */
}

/* Ajustes para pantallas medianas (tablets y móviles grandes) */
@media (max-width: 768px) {
  .background-video {
    height: auto; /* Permite que el alto se ajuste automáticamente */
    max-height: 70%; /* Limita la altura máxima */
    object-fit: contain; /* Evita recortes */
    top: 50%; /* Mantiene la posición vertical */
    transform: translate(-50%, -50%); /* Asegura el centrado vertical */
  }
}

/* Ajustes para pantallas pequeñas (teléfonos pequeños) */
@media (max-width: 480px) {
  .background-video {
    height: auto;
    max-height: 50%; /* Reduce la altura del video */
    object-fit: contain;
    top: 50%; /* Posición vertical centrada */
    transform: translate(-50%, -50%); /* Centrado perfecto */
    filter: blur(2px) brightness(0.9); /* Ajusta la visibilidad */
  }
}

