/* Variables CSS */
:root {
  --primary-color: #aba8a8;
  --border-color: #060202;
  --hover-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  --transition-duration: 0.3s;
}

/* Estilos para chips */
.chip-email, .chip-github, .chip-linkedin {
  border: 1px solid var(--border-color) !important;
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease, box-shadow var(--transition-duration) ease !important;
}

.chip-email {
  background-color: #ffffff !important;
  color: black !important;
}

.chip-email:hover {
  background-color: #b9b9b9 !important;
  color: white !important;
  box-shadow: var(--hover-shadow) !important;
}

.chip-github {
  background-color: #060202 !important;
  color: white !important;
}

.chip-github:hover {
  background-color: #620296 !important;
  box-shadow: var(--hover-shadow) !important;
}

.chip-github .MuiChip-icon, .chip-linkedin .MuiChip-icon {
  transition: color var(--transition-duration) ease !important;
}

.chip-github:hover .MuiChip-icon, .chip-linkedin:hover .MuiChip-icon {
  color: white !important;
}

.chip-linkedin {
  background-color: #005f92 !important;
}

.chip-linkedin:hover {
  background-color: #0085cc !important;
  box-shadow: var(--hover-shadow) !important;
}

/* Efecto de hover para el avatar en el icono */
.chip-avatar {
  transition: transform var(--transition-duration) ease !important;
}

.chip-avatar:hover {
  transform: scale(1.1) !important;
}

/* Efecto de iluminación al hacer hover en una card */
.card-hover {
  transition: box-shadow 0.6s ease !important;
}

.card-hover:hover {
  box-shadow: var(--hover-shadow) !important;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 600px) {
  .quien-soy .MuiContainer-root {
    flex-direction: column;
  }

  .quien-soy .MuiAvatar-root {
    width: 10vh !important;
    height: 10vh !important;
  }

  .quien-soy .MuiCardHeader-root {
    padding: 1vh !important;
  }

  .quien-soy .MuiCardHeader-root .MuiTypography-root {
    font-size: 2vh !important;
  }

  .quien-soy .MuiPaper-root .MuiCardContent-root {
    padding: 0vh !important;
  }

  .quien-soy .MuiCardContent-root .MuiChip-root {
    width: auto !important;
    height: auto !important;
  }

  .quien-soy .MuiCardContent-root .MuiChip-root .MuiChip-icon {
    margin: 0;
    padding: 1vh;
  }

  .quien-soy .MuiCardContent-root .MuiChip-root .MuiChip-label {
    display: none !important;
  }

  .quien-soy .card-hover {
    width: 35vh !important;
    height: fit-content !important;
  }

  .quien-soy .card-hover .MuiCardContent-root {
    padding: 1vh !important;
  }

  .quien-soy .card-hover p
  {
    height: 100%;
    text-align: center;
    margin: 0%;
  }

  .quien-soy .MuiCardHeader-root {
    text-align: center !important;
  }

  .quien-soy .MuiContainer-root {
    padding: 0vh !important;
  }

  .quien-soy .MuiCardHeader-root {
    padding: 0vh !important;
  }
}