/* Estilos para chips */
.chip-email {
  background-color: #ffffff !important;
  color: black !important;
  border: 1px solid #000000 !important;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.chip-email:hover {
  background-color: #b9b9b9 !important;
  color: white !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.chip-github {
  background-color: #060202 !important;
  color: white !important;
  border: 1px solid #000 !important;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.chip-github:hover {
  background-color: #620296 !important;
  color: white !important;
  box-shadow: 0 0 10px rgba(98, 2, 150, 0.5) !important;
}

.chip-github .MuiChip-icon {
  transition: color 0.3s ease !important; /* Añade transición al color del icono */
}

.chip-github:hover .MuiChip-icon {
  color: white !important; /* Cambia el color del icono a blanco al hacer hover */
}

.chip-linkedin {
  background-color: #005f92 !important;
  color: white !important;
  border: 1px solid #005582 !important;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.chip-linkedin:hover {
  background-color: #0085cc !important;
  color: white !important;
  box-shadow: 0 0 10px rgba(0, 119, 181, 0.5) !important;
}

.chip-linkedin .MuiChip-icon {
  transition: color 0.3s ease !important; /* Añade transición al color del icono */
}

.chip-linkedin:hover .MuiChip-icon {
  color: white !important; /* Cambia el color del icono a blanco al hacer hover */
}

/* Efecto de hover para el avatar en el icono */
.chip-avatar {
  transition: transform 0.3s ease !important;
}

.chip-avatar:hover {
  transform: scale(1.1) !important;
}

/* Efecto de iluminación al hacer hover en una card */
.card-hover {
  transition: box-shadow 0.6s ease !important;
}

.card-hover:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8) !important;
}

.parrafo {
  margin: 0%;
  font-size: large;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 600px) {
  .quien-soy .MuiContainer-root {
    flex-direction: column;
  }

  .quien-soy .MuiAvatar-root
  {
    width: 100px !important; /* Ajusta el ancho de la imagen del avatar */
    height: 100px !important; /* Ajusta la altura de la imagen del avatar */
  }

  .quien-soy .MuiCardHeader-root
  {
    padding: 0.5rem !important; /* Ajusta el padding del encabezado de la tarjeta */
  }

  .card-hover {
    width: 100% !important; /* Ajusta el ancho de la tarjeta al 100% del contenedor */
    padding: 0rem !important; /* Ajusta el padding */
  }

  .card-hover .MuiCardContent-root {
    padding: 1rem !important; /* Ajusta el padding del contenido */
  }

  .parrafo {
    font-size: 1rem !important; /* Ajusta el tamaño de la fuente */
    line-height: 1.4 !important; /* Ajusta la altura de línea */
    padding: 0%;
  }

  .MuiCardHeader-root {
    text-align: center !important; /* Centra el texto del encabezado */
  }
}