/* Variables CSS */
:root {
  --primary-color: #aba8a8;
  --border-color: #060202;
  --hover-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  --transition-duration: 1s;
}

@font-face
{
  font-family: 'BF';
  src : url('./assets/fonts/BF_Modernista-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Estilos para chips */
.chip-email, .chip-github, .chip-linkedin {
  border: 1px solid var(--border-color) !important;
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease, box-shadow var(--transition-duration) ease !important;
  font-family: 'BF', sans-serif !important;
}

.MuiCardHeader-content .MuiTypography-root {
  font-family: 'BF', sans-serif !important;
}

.MuiPaper-root h1
{
  font-family: 'BF', sans-serif !important;
  font-weight:normal !important;
}

.chip-email {
  background-color: #ffffff !important;
  color: black !important;
}

.chip-email:hover {
  background-color: #b9b9b9 !important;
  color: white !important;
  box-shadow: var(--hover-shadow) !important;
}

.chip-github {
  background-color: #060202 !important;
}

.chip-cv {
  position: relative;
  background-color: black !important;
  overflow: hidden;
  z-index: 1; /* Asegúrate de que el contenido esté por encima del pseudo-elemento */
}

.chip-cv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1; /* Asegúrate de que el pseudo-elemento esté por debajo del contenido */
}

.chip-cv:hover::before {
  opacity: 1;
}

.chip-github:hover {
  background-color: #620296 !important;
  box-shadow: var(--hover-shadow) !important;
}

.chip-github .MuiChip-label, .chip-linkedin .MuiChip-label, .chip-cv .MuiChip-label
{
  color: white !important;
}

.chip-github .MuiChip-icon, .chip-linkedin .MuiChip-icon {
  transition: color var(--transition-duration) ease !important;
}

.chip-github:hover .MuiChip-icon, .chip-linkedin:hover .MuiChip-icon {
  color: white !important;
}

.chip-linkedin {
  background-color: #005f92 !important;
}

.chip-linkedin:hover {
  background-color: #0085cc !important;
  box-shadow: var(--hover-shadow) !important;
}

/* Efecto de hover para el avatar en el icono */
.chip-avatar {
  transition: transform var(--transition-duration) ease !important;
}

.chip-avatar:hover {
  transform: scale(1.1) !important;
}

/* Efecto de iluminación al hacer hover en una card */
.card-hover {
  transition: box-shadow 0.6s ease !important;
}

.card-hover:hover {
  box-shadow: var(--hover-shadow) !important;
}

/* Estilos responsivos para dispositivos móviles */

@media (max-width: 600px) {
  .quien-soy {
    flex-direction: column !important;
  }

  .quien-soy .MuiAvatar-root {
    width: 10vh !important;
    height: 10vh !important;
  }

  .quien-soy .MuiCardHeader-root {
    padding: 1vh !important;
  }

  .quien-soy .MuiCardHeader-root .MuiTypography-root {
    font-size: 2vh !important;
  }

  .quien-soy .MuiPaper-root .MuiCardContent-root {
    padding: 0vh !important;
  }

  .quien-soy .MuiCardContent-root .MuiChip-root {
    width: auto !important;
    height: auto !important;
  }

  .quien-soy .MuiCardContent-root .MuiChip-root .MuiChip-icon {
    margin: 0;
    padding: 1vh;
  }

  .quien-soy .MuiCardContent-root .MuiChip-root .MuiChip-label {
    display: none !important;
  }

  .quien-soy .card-hover {
    width: 35vh !important;
    height: fit-content !important;
    display: flex;
    flex-direction: column;
  }

  .quien-soy .card-hover .foto-perfil {
    margin: 1vh;
    width: 20vh !important;
    height: 20vh !important;
  } 

  .quien-soy .card-hover .MuiCardContent-root {
    padding: 1vh !important;
  }

  .quien-soy .card-hover p {
    height: fit-content;
    text-align: center;
    margin: 1vh;
  }

  .quien-soy .MuiCardHeader-root {
    text-align: center !important;
  }

  .quien-soy .MuiContainer-root {
    padding: 0vh !important;
  }

  .quien-soy .MuiCardHeader-root {
    padding: 0vh !important;
  }
}

/* Estilos para dispositivos móviles en orientación horizontal */
@media (max-width: 1300px){
  .quien-soy
  {
    display: flex !important;
    flex-direction: column !important;
  }

  .quien-soy .MuiAvatar-root {
    width: 20vh !important;
    height: 20vh !important;
  }

}