/* Variables CSS */
:root {
  --certificados-padding: 100px;
  --certificados-card-max-width: 250px;
  --certificados-card-height: 300px;
  --certificados-card-border: 5px solid #f0f0f0;
  --certificados-card-border-radius: 20px;
  --certificados-card-bg-color: #f2f2f2b6;
  --certificados-typography-font-size: 2vh;
  --certificados-typography-bg-color: #f2f2f2;
  --certificados-typography-padding: 0.5vh;
  --certificados-typography-border: 1px solid #00000079;
  --certificados-typography-border-radius: 10px;
}

.certificados h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.certificados {
  padding-left: var(--certificados-padding);
  padding-right: var(--certificados-padding);
}

.certificados .MuiCard-root {
  max-width: var(--certificados-card-max-width);
  height: var(--certificados-card-height);
  border: var(--certificados-card-border);
  border-radius: var(--certificados-card-border-radius);
  margin: 0px;
  padding: 0px;
  background-color: var(--certificados-card-bg-color);
}

.certificados .MuiCardContent-root .MuiTypography-root {
  max-height: 100px;
  font-size: var(--certificados-typography-font-size);
  background-color: var(--certificados-typography-bg-color);
  padding: var(--certificados-typography-padding);
  border: var(--certificados-typography-border);
  border-radius: var(--certificados-typography-border-radius);
}

.certificados .MuiCardContent-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.certificados .MuiCardMedia-root {
  height: 200px;
}

@media screen and (max-width: 600px) {
  .certificados .MuiCard-root {
    width: 30vh !important;
    max-height: fit-content !important;
    border: var(--certificados-card-border);
    border-radius: var(--certificados-card-border-radius);
    margin: 0%;
    padding: 0%;
  }

  .certificados {
    padding-left: 0px;
    padding-right: 0px;
  }

  .certificados .MuiBox-root {
    margin-bottom: 0vh !important;
    height: fit-content !important;
  }

  .certificados .MuiCardContent-root .MuiTypography-root {
    font-size: 1.5vh !important;
    text-align: center;
  }

  .certificados .MuiCardContent-root .MuiAvatar-root {
    width: 2vh !important;
    height: 2vh !important;
  }

  .certificados .MuiCardContent-root {
    padding: 2px !important;
    display: flex !important;
    flex-direction: row !important;
    margin: auto !important;
    height: 8vh;
  }

  .certificados .MuiCardMedia-root {
    height: 30px !important;
  }

  .certificados .MuiBox-root {
    gap: 10px;
  }

  .MuiAvatar-root {
    width: 20px !important;
    height: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .certificados .MuiCard-root {
    width: 35vh !important;
    max-height: 12vh !important;
    border: var(--certificados-card-border);
    border-radius: var(--certificados-card-border-radius);
    margin: 0%;
    padding: 0%;
  }

  .certificados .MuiBox-root {
    height: 50%;
  }

  .certificados .MuiCardContent-root {
    display: flex !important;
    flex-direction: row !important;
    margin: auto !important;
    height: 8vh;
  }

  .certificados .MuiCardContent-root .MuiTypography-root {
    font-size: 1.5vh !important;
    height: auto !important;
    max-width: 25vh;
  }

  .certificados .MuiCardContent-root .MuiChip-label {
    display: none !important;
  }

  .certificados .MuiCardContent-root .MuiAvatar-root {
    width: 2.5vh !important;
    height: 2.5vh !important;
    margin: 0%;
  }

  .certificados .MuiCardContent-root {
    padding: 2px !important;
  }

  .certificados .MuiCardMedia-root {
    height: 5vh !important;
  }

  .certificados .MuiChip-root {
    width: 4vh !important;
    height: 4vh !important;
    margin-left: 1vh;
  }

  .certificados .MuiBox-root {
    gap: 10px;
  }

  .MuiAvatar-root {
    width: 20px !important;
    height: 20px !important;
  }
}