.certificados h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.certificados 
{
  padding-left: 100px;
  padding-right: 100px;
}

.certificados .MuiCard-root {
  max-width: 250px;
  height: 300px;
  border: 5px solid #f0f0f0;
  border-radius: 20px;
  margin: 0px;
  padding: 0px;
}

.certificados .MuiCardContent-root .MuiTypography-root {
  max-height: 100px;
  font-size: 2vh;
}

.certificados .MuiCardMedia-root {
  height:200px;
}

@media (max-width: 768px) {
  .certificados h2 {
    font-size: 1.5rem;
  }
}

.certificados .MuiBox-root {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* Ajustes para las tarjetas en pantallas pequeñas */
@media (max-width: 768px) {
  .certificados .MuiCard-root {
    max-width: 40% !important;
    margin: 8px auto;
    height: fit-content;
    max-height: 20vh !important;
  }
  .certificados
  {
    padding: 0%;
  }
  .certificados .MuiCardContent-root .MuiAvatar-root
  {
    width: 30px !important;
    height: 30px !important;
  }
  .certificados .MuiCardContent-root
  {
    padding: 0px;
    padding-top: 15px !important;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .certificados .MuiCardContent-root .MuiTypography-root
  {
    font-size: 1vh;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .certificados .MuiCard-root {
    max-width:30vh !important;
    max-height: 20vh !important;
    border: 5px solid #f0f0f0;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
  }

  .certificados .MuiCardContent-root .MuiTypography-root
  {
    font-size: 1.8vh;
  }

  .certificados .MuiCardContent-root .MuiAvatar-root
  {
    width: 3vh !important;
    height: 3vh !important;
  }

  .certificados .MuiCardContent-root
  {
    padding: 0px !important;
  }

  .certificados .MuiCardMedia-root
  {
    height: 50px !important;

  }

  .certificados .MuiBox-root
  {
    gap:10px;
  }

  .MuiAvatar-root {
    width: 20px !important;
    height: 20px !important;
  }

@media screen and (max-width: 400px) {
  .certificados .MuiCard-root {
    max-width: 20vh !important;
    max-height: 20vh !important;
    border: 5px solid #f0f0f0;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
  }

  .certificados .MuiCardContent-root .MuiTypography-root
  {
    font-size: 1.5vh;
  }

  .certificados .MuiCardContent-root .MuiAvatar-root
  {
    width: 2.5vh !important;
    height: 2.5vh !important;
  }

  .certificados .MuiCardContent-root
  {
    padding: 0px !important;
  }

  .certificados .MuiCardMedia-root
  {
    height: 5vh!important;
  }

  .certificados .MuiBox-root
  {
    gap:10px;
  }

  .MuiAvatar-root {
    width: 20px !important;
    height: 20px !important;
  
  }
  }
}